<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCoHQGQ1AZy0u0F-6BPS-0L4DPtbFfI8CI</string>
	<key>GCM_SENDER_ID</key>
	<string>860367574539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstapplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>masteraimobile</string>
	<key>STORAGE_BUCKET</key>
	<string>masteraimobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860367574539:ios:975c05e92733db5d9e990e</string>
</dict>
</plist>